<section class="section-main" @fade>
  <!-- section name work -->
  <div class="section-main_description">
    <div class="section-main_description-about">
        <h1 class="h1">Payyex</h1>
        <h3 class="h3">
          Powerful trading system into <br>Buy and sell bitcoin and other <br> cryptocurrencies and tokens.
        </h3>
    </div>
    <div class="section-main_description-aside">
        <div class="service mb-75">
            <h4 class="h4 mb-30">Services</h4>
            <p class="p">Branding, Website, <br> Cryptocurrency, Blockchain, <br> Design, Development</p>
        </div>
        <div class="awards mb-75">
          <h4 class="h4 mb-30">Awards</h4>
          <p class="p">Totem Wide Awards </p>
        </div>
        <div class="relise mb-75">
            <h4 class="h4 mb-30">Realise</h4>
            <p class="p">2018</p>
        </div>
        <div class="contact">
            <h4 class="h4 mb-30">Contact</h4>
            <p class="p">2018</p> 
        </div>
    </div>
  </div>
  <!-- section name work and-->

  <!-- section about work -->
  <div class="section-main_about">
    <div class="section-main_about-laters">
      <h1 class="h1">P</h1>
      <div class="dividers">
        <p class="p">Powerful trading system into <br>Buy and sell bitcoin and other <br> cryptocurrencies and tokens.</p>
        <ul class="dividers_dot">
          <li class="dividers_dot-dots"></li>
          <li class="dividers_dot-dots"></li>
          <li class="dividers_dot-dots"></li>
          <li class="dividers_dot-dots"></li>
          <li class="dividers_dot-dots"></li>
          <li class="dividers_dot-dots"></li>
          <li class="dividers_dot-dots"></li>
          <li class="dividers_dot-dots"></li>
          <li class="dividers_dot-dots"></li>
          <li class="dividers_dot-dots"></li>
          <li class="dividers_dot-dots"></li>
          <li class="dividers_dot-dots"></li>
          <li class="dividers_dot-dots"></li>
          <li class="dividers_dot-dots"></li>
          <li class="dividers_dot-dots"></li>
        </ul>
        <p class="p">Powerful trading system into <br>Buy and sell bitcoin and other <br> cryptocurrencies and tokens.</p>
      </div>
    </div>
    <div class="section-main_about-cover">
      <h3 class="h3">Powerful trading system into <br> Buy and sell bitcoin and other <br> cryptocurrencies and tokens.</h3>
      <img src="/src/assets/img/Sprint-Work.jpg" alt="Sprint-Work" class="image-responsive">
    </div>
  </div>
  <!-- section about work and -->

</section>
