<router-outlet></router-outlet>


<!-- section work -->
<section class="section-work-example" @fade>
    <div class="section-work-example_payyex">
      <div class="image-section">
        <h1 class="h1">Payyex</h1>
        <h2 class="h2">Payyex</h2>
        <p class="p">Branding, Website, Cryptocurrency, Blockchain, Design, Development</p>
        <img src="assets/img/payyex.png" alt="Payyex-Logo">
      </div>
      <div class="description-section">
        <h3 class="h3">
          Powerful trading system into <br> Buy and sell bitcoin and other <br> cryptocurrencies and tokens.
        </h3>
      </div>
    </div>
    <div class="section-work-example_cryptopaskets">
      <div class="description-section">
        <h3 class="h3">
          Create, buy and sell custom	<br> Ethereum tokens that hold a <br> basket  of other tokens
        </h3>
      </div>
      <div class="image-section">
        <h1 class="h1">Cryptobaskets</h1>
        <h2 class="h2">Cryptobaskets</h2>
        <p class="p">Branding, Website, Cryptocurrency, Blockchain, Design, Development</p>
        <img src="assets/img/cryptobasket.png" alt="Cryptobaskets-Logo">
      </div>
    </div>
    <div class="section-work-example_sprint">
      <div class="image-section">
        <h1 class="h1">Sprint</h1>
        <h2 class="h2">Sprint</h2>
        <p class="p">Branding, Website, Cryptocurrency, Blockchain, Design, Development</p>
        <img src="assets/img/Sprint.png" alt="Sprint-Logo">
      </div>
      <div class="description-section">
        <h3 class="h3">
          Powerful trading system into <br> Buy and sell bitcoin and other <br> cryptocurrencies and tokens.
        </h3>
      </div>
    </div>
    <div class="section-work-example_coinalpha">
      <div class="description-section">
        <h3 class="h3">
          Create, buy and sell custom <br> Ethereum tokens that hold a <br> basket  of other tokens
        </h3>
      </div>
      <div class="image-section">
        <h1 class="h1">Coinalpha</h1>
        <h2 class="h2">Coinalpha</h2>
        <p class="p">Branding, Website, Cryptocurrency, Blockchain, Design, Development</p>
        <img src="assets/img/coinalpha.png" alt="Sprint-Logo">
      </div>
    </div>
  </section>
  <!-- section work and-->
