.diversifying{
  padding: 150px 0 90px;
  background: #f6f9fc;
  @media (max-width: 989px) {
    padding: 30px 0;
  }
  &_heading{
    text-align: center;
    margin-bottom: 30px;
    @media (max-width: 989px) {
      margin-bottom: 15px;
    }
  }
  &_text{
    margin-top: 30px;
    @media (max-width: 989px) {
      margin-top: 0;
      margin-bottom: 15px;
    }
  }
  &_image{
    margin-top: 60px;
    @media (max-width: 989px) {
      margin-top: 0;
    }
  }
  &_form{
    margin-top: 60px;
    @media (max-width: 989px) {
      margin-top: 0;
      margin-bottom: 15px;
    }
  }
}