<app-header></app-header>
<router-outlet></router-outlet>

<!-- section-main-work -->

	<section class="section-main-work">

		<!-- aside link sections -->
		<app-aside></app-aside>
		<!-- aside link sections and -->

		<!-- links work  -->
		<router-outlet name="workApptop"></router-outlet>
		<router-outlet name="workActifinder"></router-outlet>
		<router-outlet name="workIclub"></router-outlet>
		<router-outlet name="workIntro"></router-outlet>
		<router-outlet name="workCancelon"></router-outlet>
		<router-outlet name="workCitymax"></router-outlet>
		<router-outlet name="workCoin"></router-outlet>
		<router-outlet name="workCryptobaskets"></router-outlet>
		<router-outlet name="workDigency"></router-outlet>
		<router-outlet name="workFlexipost"></router-outlet>
		<router-outlet name="workIclub"></router-outlet>
		<router-outlet name="workPayyex"></router-outlet>
		<router-outlet name="workSoniro"></router-outlet>
		<router-outlet name="workSprint"></router-outlet>
		<router-outlet name="workUplauch"></router-outlet>
		<!-- links work and-->

	</section>

<!-- section-main-work and -->

<app-footer></app-footer>