@import 'variables';
@import 'fonts';



.aside-work-link {
	margin-left: 7.6em;
	&_list {
		padding: 0;
		list-style-type: none;
		.list-items {
			display: flex;
			margin-bottom: 25px;
			.span-study {
				width: 75px;
				height: 20px;
				font-size: 11px;
				margin-left: 15px;
				border-radius: 10px;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #464646;
			}
		}
	}
}