body {
	// background-color: $main-dark;
	font-family: $rubik;
	color: $text-white;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	.h1, {
		font-size: 156px;
		font-family: $lato;
	}
	.h2 {
		font-size: 86px;
		font-family: $lato;
	}
	.p {
		font-size: 14px;
	}
	a {
		color: $text-white;
		text-decoration: none;
		border-bottom: 2px solid transparent;
		outline:none;
		&:hover,
		&:focus,
		&:active {
			color: $text-white;
			text-decoration: none;
		}
	}
}

// hide scrollbar
::-webkit-scrollbar,
*::-webkit-scrollbar {
	display: none;
}