@mixin font-face($font-name, $file-name, $font-style: normal, $font-weight: normal) {
	@font-face {
		font-family: '#{$font-name}';
		src: url('../fonts/#{$file-name}.woff') format('woff'),
			url('../fonts/#{$file-name}.otf') format('otf');

		font-style: $font-style;
		font-weight: $font-weight;
	}
}
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Rubik:400,700&subset=latin-ext');

$lato: "Lato", sans-serif;
$rubik: "Rubik", sans-serif;