<app-header></app-header>
<!-- main content -->
<section class="section-main" @fade>
  <div class="section-main_description">
    <h1 class="h1">Hello</h1>
    <p class="p">We design and build beautiful digital <br> products that make a difference</p>
    <div class="discover-animate">
      <p class="p">Discover the agency</p>
      <!-- <img src="assets/img/icons/packman.svg" alt="packman image"> -->
    </div>
    <div class="section-main_development">
      <div class="blockchain-link">
        <span class="span-animate">
          <div class="loader">
            <div class="loader-line loader-line--invert a-loop"></div>
          </div>
        </span>
        <a href="">Blockchain Startups</a>
      </div>
      <div class="development-link">
          <span class="span-animate">
            <div class="loader">
              <div class="loader-line a-loop"></div>
            </div>
          </span>
          <a href="">Development</a>
      </div>
      <div class="design-link">
          <span class="span-animate">
            <div class="loader">
              <div class="loader-line a-loop"></div>
            </div>
          </span>
          <a href="">Design</a>
      </div>
    </div>
  </div>
  <div class="section-main_image-description">
    <img src="assets/img/Totem.png" class="img-responsive" alt="Logo TotemWide">
    <p class="p">Our strategists, designers, developers <br> and marketers love digital. We raise the bar to create <br> relevant and unified customer experiences.</p>
    <p class="founder">Igor Zelenetskyi</p>
    <span class="founder_about">Founder Totem Wide </span>
  </div>
</section>
<!-- main content -->
<app-footer></app-footer>
